<div class="example-container">
  <form #clientform = "ngForm" autocomplete="off">
  
    <mat-tab-group>
        <mat-tab label="General"> 
          <br>

        <p>
          <mat-form-field> 
              <input matInput placeholder="Nombres" required [(ngModel)]= "localClient.nombres" name="nombres">
           </mat-form-field>
          </p>

            <p>
              <mat-form-field>
                <input matInput placeholder="Apellidos" required [(ngModel)]= "localClient.apellidos" name="apellidos">
              </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Fecha Nacimiento" 
                          required [(ngModel)]= "localClient.fechanacimiento" 
                          (dateInput)="CalculatedAge($event)" (dateChange)="CalculatedAge($event)" 
                          name="fechanacimiento">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>

            </p>
             
            <p>
                <mat-form-field>
                    <mat-select placeholder="Tipo Documento" [(ngModel)]= "localClient.tipo_documento" name="tipo_documento">
                      <mat-option value="option">Cedula de Ciudadania</mat-option>
                      <mat-option value="option">Cedula de Extranjeria</mat-option>
                      <mat-option value="option">Tarjeta de Identidad</mat-option>
                      <mat-option value="option">Pasaporte</mat-option>
                    </mat-select>
                  </mat-form-field>
            </p>
              
              <p>
                <mat-form-field>
                    <input matInput type="text" placeholder="Documento" required [(ngModel)]= "localClient.documento" name="documento">
                  </mat-form-field>
              </p>

              <p>
                <mat-form-field>
                    <input matInput type="text" placeholder="Origen Documento" required [(ngModel)]= "localClient.origendocumento" name="origendocumento">
                  </mat-form-field>
              </p>

              <p>
                <mat-form-field>
                  <input matInput type="text" placeholder="Profesion" required [(ngModel)]= "localClient.profesion" name="profesion">
                </mat-form-field>
              </p>
            
              <p>
                <mat-form-field>
                  <input matInput type="text" placeholder="Empresa" required [(ngModel)]= "localClient.empresa" name="empresa">
                </mat-form-field>              

              </p>

              <p>
                <mat-form-field>
                  <input matInput type="text" placeholder="Direccion" required [(ngModel)]= "localClient.direccion" name="direccion">
                </mat-form-field>             

              </p>

              <p>

                <mat-form-field>
                  <input matInput type="text" placeholder="Barrio" required [(ngModel)]= "localClient.barrio" name="barrio">
                </mat-form-field>
              </p>

            
              <p>
                <mat-form-field>
                  <input matInput type="tel" placeholder="Celular" required [(ngModel)]= "localClient.celular" name="celular">
                  
                </mat-form-field>

              </p>
              
              <p>
                <mat-form-field>
                  <input matInput type="number" placeholder="edad" required [(ngModel)]= "edad" name="edad" disabled>
                  
                </mat-form-field>
  
              </p>
              <p>
                <mat-form-field>
                  <input matInput placeholder="Email" required [(ngModel)]= "localClient.email" name="email">                
                </mat-form-field>

              </p>
            
              
        </mat-tab>
        <mat-tab label="Medica"> 
          <br>
          <p>
              <mat-form-field>
                  <mat-select placeholder="Factor RH" required [(ngModel)]= "localMedicInfo.factor_rh" name="factor_rh">
                    <mat-option value="option">A+</mat-option>
                    <mat-option value="option">A-</mat-option>
                    <mat-option value="option">B+</mat-option>
                    <mat-option value="option">B-</mat-option>
                    <mat-option value="option">AB+</mat-option>
                    <mat-option value="option">AB-</mat-option>
                    <mat-option value="option">O+</mat-option>
                    <mat-option value="option">O-</mat-option>
                  </mat-select>
                </mat-form-field>
          </p>
          <p>
            <mat-form-field>
                <input matInput placeholder="Peso aproximado" required [(ngModel)]= "localMedicInfo.peso_aproximado" name="peso_aproximado">
              </mat-form-field>
          </p>

          <p>
              <mat-form-field>
                  <input matInput placeholder="EPS" required [(ngModel)]= "localMedicInfo.eps" name="eps">
                </mat-form-field>
            </p>

          <p>
            <mat-slide-toggle [(ngModel)]= "localMedicInfo.embarazo" name="embarazo">Me encuentro en embarazo</mat-slide-toggle>
          </p>

          <p>
            <mat-slide-toggle [(ngModel)]= "localMedicInfo.cardiaco" name="cardiaco">Tengo problemas cardiacos</mat-slide-toggle>
          </p>

          <p>
            <mat-slide-toggle [(ngModel)]= "localMedicInfo.taquicardia" name="taquicardia">Sufro de taquicardia</mat-slide-toggle>
          </p>

          <p>
            <mat-slide-toggle [(ngModel)]= "localMedicInfo.hipertiroidismo" name="hipertiroidismo">Sufro de hipertiroidismo</mat-slide-toggle>
          </p>

          <p>
            <mat-slide-toggle [(ngModel)]= "localMedicInfo.extrasistole" name="extrasistole">Extrasistole ventricular</mat-slide-toggle>
          </p>

          <p>
            <mat-slide-toggle [(ngModel)]= "localMedicInfo.fatiga" name="fatiga">Fatiga exagerada</mat-slide-toggle>
          </p>

          <p>
            <mat-slide-toggle [(ngModel)]= "localMedicInfo.convulsiones" name="convulsiones">He tenido convulsiones los ultimos 5 anos</mat-slide-toggle>
          </p>

          <p>
            <mat-slide-toggle [(ngModel)]= "localMedicInfo.vertigo" name="vertigo">Sufro de vertigo</mat-slide-toggle>
          </p>

          <p>
            <mat-slide-toggle [(ngModel)]= "localMedicInfo.cadera" name="cadera">Tengo reemplazo de cadera</mat-slide-toggle>
          </p>

          <p>
            <mat-slide-toggle [(ngModel)]= "localMedicInfo.psiquiatria" name="psiquiatria">Algun tratamiento psiquiatrico</mat-slide-toggle>
          </p>

          <p>
            <mat-slide-toggle [(ngModel)]= "localMedicInfo.diabetes" name="diabetes">Sufro de diabetes</mat-slide-toggle>
          </p>

          <p>
            <mat-slide-toggle [(ngModel)]= "localMedicInfo.cirugia" name="cirugia">Estoy en estado post operatorio</mat-slide-toggle>
          </p>

          <p>
            <mat-slide-toggle [(ngModel)]= "localMedicInfo.fractura" name="fractura">He tenido fracturas en tobillos, rodillas</mat-slide-toggle>
          </p>

          <p>
            <mat-form-field>
                <input matInput placeholder="Contanto emergencia" required [(ngModel)]= "localMedicInfo.nombre_emergencia1" name="nombre_emergencia1">
              </mat-form-field>
          </p>
          <p>
            <mat-form-field>
                <input matInput placeholder="Telefono emergencia" required [(ngModel)]= "localMedicInfo.celular_emer1" name="celular_emer1">
              </mat-form-field>
          </p>
        </mat-tab>
        
    </mat-tab-group>
    <p>

      <button type="submit" class="btn btn-primary" (click)="Save()" [disabled]= "!clientform.valid">Guardar</button>
    </p>

  </form>
  
</div>

