<div class="example-container">
    <mat-tab-group>
        <mat-tab label="General"> 
            <mat-form-field>
                <input matInput placeholder="Nombres" required>
              </mat-form-field>
            
              <mat-form-field>
                <input matInput placeholder="Apellidos" required>
              </mat-form-field>
            
              <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            
              <mat-form-field>
                  <mat-select placeholder="Tipo Documento">
                    <mat-option value="option">Cedula de Ciudadania</mat-option>
                    <mat-option value="option">Cedula de Extranjeria</mat-option>
                    <mat-option value="option">Tarjeta de Identidad</mat-option>
                    <mat-option value="option">Pasaporte</mat-option>
                  </mat-select>
                </mat-form-field>
              
              <mat-form-field>
                  <input matInput type="text" placeholder="Documento" required>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" placeholder="Origen Documento" required>
                  </mat-form-field>
              <mat-form-field>
                <input matInput type="text" placeholder="Profesion" required>
              </mat-form-field>
            
              <mat-form-field>
                <input matInput type="text" placeholder="Empresa" required>
              </mat-form-field>
            
              <mat-form-field>
                <input matInput type="text" placeholder="Direccion" required>
              </mat-form-field>
            
              <mat-form-field>
                <input matInput type="text" placeholder="Barrio">
              </mat-form-field>
            
              <mat-form-field>
                <input matInput type="tel" placeholder="Celular">
              </mat-form-field>
            
              <mat-form-field>
                <input matInput placeholder="Email" required>
              </mat-form-field>
            
              
        </mat-tab>
        <mat-tab label="Medica"> 
          

        </mat-tab>
        
    </mat-tab-group>

  
</div>
