<div class="container">
  <h1>Pilotos</h1>
  <br>
  <div class="row">
    <div class="col-md">
      <mat-form-field >
        <input matInput placeholder="Cedula">
      </mat-form-field>
    </div>
    <div class="col-md">
      <mat-form-field>
        <input matInput placeholder="Nombre">
      </mat-form-field>
    </div>
    <div class="col-md">
      <mat-form-field>
        <input matInput placeholder="Apellidos">
      </mat-form-field>
    </div>
    <div class="col-md">
      <mat-form-field >
        <input matInput placeholder="Telefono">
      </mat-form-field>
    </div>
   
    <div class="col-sm">
      <button type="button" class="btn btn-primary">Agregar</button>
    </div>
  </div>
</div>
